footer{
    color: $white2;
    text-align: center;
    a{
        color: $white2;
        font-weight: 500;
        line-height: 2.5em;
    }
    .box_footer{
        padding-bottom: 8px;
        background-color: $blue;
        padding: 2em 0; 
        .logo_rrss{
            margin-top: 2em;
            position: relative;
            > p{
                font-family: "magistral";
                font-size: 18px;
                font-weight: 500;
            }
            img{
                width: 13em;
                margin-bottom: 1.5em;
            }
            .footer_rrss{
                margin-top: 0.5em;
                a{
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin-left: 10px;
                    }
                }
                
            }
        }
    }
    .box_copyright{
        background-color: $green;
        padding: 1em 0;
    }
}
@media only screen and (min-width: 768px) {
    .box_copyright{
        display: flex;
        justify-content: center;
    }
}