@font-face {
  font-family: 'icomoon';
  src:  url('/font/icomoon.eot');
  src:  url('/font/icomoon.eot') format('embedded-opentype'),
    url('/font/icomoon.ttf') format('truetype'),
    url('/font/icomoon.woff') format('woff');
    // url('font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 22px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e934";
}
.icon-padel:before {
  content: "\e923";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-bag:before {
  content: "\e904";
}
.icon-cake:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-card:before {
  content: "\e907";
}
.icon-cerrar-sesion:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-clock:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-comment:before {
  content: "\e90c";
}
.icon-configure:before {
  content: "\e90d";
}
.icon-coupon:before {
  content: "\e90e";
}
.icon-date:before {
  content: "\e90f";
}
.icon-device-phone:before {
  content: "\e910";
}
.icon-dollar:before {
  content: "\e911";
}
.icon-edit:before {
  content: "\e912";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-Property-1filter:before {
  content: "\e914";
}
.icon-arrow-right:before {
  content: "\e915";
}
.icon-heart:before {
  content: "\e916";
}
.icon-help:before {
  content: "\e917";
}
.icon-home1:before {
  content: "\e918";
}
.icon-image:before {
  content: "\e919";
}
.icon-info:before {
  content: "\e91a";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-list:before {
  content: "\e91c";
}
.icon-location1:before {
  content: "\e91d";
}
.icon-lock:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e91f";
}
.icon-medalla:before {
  content: "\e920";
}
.icon-nivel:before {
  content: "\e921";
}
.icon-notification-Bell:before {
  content: "\e922";
}
.icon-phone1:before {
  content: "\e924";
}
.icon-play:before {
  content: "\e925";
}
.icon-plus:before {
  content: "\e926";
}
.icon-profile:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
}
.icon-settings:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e92a";
}
.icon-sound-playing:before {
  content: "\e92b";
}
.icon-square:before {
  content: "\e92c";
}
.icon-star:before {
  content: "\e92d";
}
.icon-tag:before {
  content: "\e92e";
}
.icon-trash:before {
  content: "\e92f";
}
.icon-trophy:before {
  content: "\e930";
}
.icon-twitter:before {
  content: "\e931";
}
.icon-unlock:before {
  content: "\e932";
}
.icon-win:before {
  content: "\e933";
}


  
// @font-face {
//     font-family: 'Magistral Extra';
//     src: url('/font/Magistral-ExtraBoldItalic.eot');
//     src: local('Magistral Extra Bold Italic'), local('Magistral-ExtraBoldItalic'),
//         url('/font/Magistral-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-ExtraBoldItalic.woff2') format('woff2'),
//         url('/font/Magistral-ExtraBoldItalic.woff') format('woff'),
//         url('/font/Magistral-ExtraBoldItalic.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Magistral';
//     src: url('/font/Magistral-LightItalic.eot');
//     src: local('Magistral Light Italic'), local('Magistral-LightItalic'),
//         url('/font/Magistral-LightItalic.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-LightItalic.woff2') format('woff2'),
//         url('/font/Magistral-LightItalic.woff') format('woff'),
//         url('/font/Magistral-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Magistral Extra';
//     src: url('/font/Magistral-ExtraBold.eot');
//     src: local('Magistral Extra Bold'), local('Magistral-ExtraBold'),
//         url('/font/Magistral-ExtraBold.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-ExtraBold.woff2') format('woff2'),
//         url('/font/Magistral-ExtraBold.woff') format('woff'),
//         url('/font/Magistral-ExtraBold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Magistral';
//     src: url('/font/Magistral-Medium.eot');
//     src: local('Magistral Medium'), local('Magistral-Medium'),
//         url('/font/Magistral-Medium.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-Medium.woff2') format('woff2'),
//         url('/font/Magistral-Medium.woff') format('woff'),
//         url('/font/Magistral-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Magistral Book';
//     src: url('/font/Magistral-BookItalic.eot');
//     src: local('Magistral Book Italic'), local('Magistral-BookItalic'),
//         url('/font/Magistral-BookItalic.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-BookItalic.woff2') format('woff2'),
//         url('/font/Magistral-BookItalic.woff') format('woff'),
//         url('/font/Magistral-BookItalic.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Magistral Book';
//     src: url('/font/Magistral-Book.eot');
//     src: local('Magistral Book'), local('Magistral-Book'),
//         url('/font/Magistral-Book.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-Book.woff2') format('woff2'),
//         url('/font/Magistral-Book.woff') format('woff'),
//         url('/font/Magistral-Book.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Magistral';
//     src: url('/font/Magistral-Bold.eot');
//     src: local('Magistral Bold'), local('Magistral-Bold'),
//         url('/font/Magistral-Bold.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-Bold.woff2') format('woff2'),
//         url('/font/Magistral-Bold.woff') format('woff'),
//         url('/font/Magistral-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Magistral';
//     src: url('/font/Magistral-Light.eot');
//     src: local('Magistral Light'), local('Magistral-Light'),
//         url('/font/Magistral-Light.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-Light.woff2') format('woff2'),
//         url('/font/Magistral-Light.woff') format('woff'),
//         url('/font/Magistral-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Magistral';
//     src: url('/font/Magistral-MediumItalic.eot');
//     src: local('Magistral Medium Italic'), local('Magistral-MediumItalic'),
//         url('/font/Magistral-MediumItalic.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-MediumItalic.woff2') format('woff2'),
//         url('/font/Magistral-MediumItalic.woff') format('woff'),
//         url('/font/Magistral-MediumItalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Magistral';
//     src: url('/font/Magistral-BoldItalic.eot');
//     src: local('Magistral Bold Italic'), local('Magistral-BoldItalic'),
//         url('/font/Magistral-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('/font/Magistral-BoldItalic.woff2') format('woff2'),
//         url('/font/Magistral-BoldItalic.woff') format('woff'),
//         url('/font/Magistral-BoldItalic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }

