.card.card_torneo.box_shadow
    .img_card
        .box_cinta
            .cinta
                .sub Open Nivel 3,5 a 5,5
            .rrss 
                a(href="")
                    i.icon-share
    .desc_card
        p.p_sm Organizado por: #[strong Fulanito padel]
        .nombre 
            h5 Sunset Padel
        .info-datos 
            .camp 
                i.icon-trophy
                p Premio
            .camp 
                i.icon-calendar
                p Fecha y hora
            .camp 
                i.icon-location1
                p Lugar
        .prize
            p #[strong $9.990] / por jugador
        .botones
            a.btn.line.white(href="") Ver más
            //- a.btn.green(href="") Inscribirse