footer 
    .container
        .box_footer
            .menu_footer 
                a(href="") Torneos 
                a(href="") Clubes
            .login_footer
                a(href="") Login
                a(href="") Regístrate
        .logo_rrss 
            img(src=src="./img/logo.png", alt="")
            .footer_rrss 
                a(href="")
                    i.icon-facebook
                a(href="")
                    i.icon-instagram