footer 
    .box_footer
        .container
            .logo_rrss 
                img(src=src="./img/logo.png", alt="")
                p Organiza tu torneo con nosotros “slogan” que represente la marca.
                .footer_rrss 
                    a(href="")
                        i.icon-mail
                        p ourstudio@hello.com
    .box_copyright 
        p CUORE SPORTS ©️ 2023 &nbsp
        p TODOS LOS DERECHOS REVERVADOS