header
    .container
        .box_header
            a(href="./").logo_cuore
                img(src="./img/logo.png", alt="")
            .nav_mobile 
                .icon_hamburguer
                    svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M4 7.21631H20M8 17.2163H20' stroke='white' stroke-width='2' stroke-linecap='round')

                //- .menu
                //-     ul
                //-         li#nosotros
                //-             a(href="") Nosotros
                //-         li#sesion
                //-             a(href="") Sesión educativa
                //-         li#Preguntas 
                //-             a(href="") Preguntas frecuentes
                //-         li#Contacto
                //-             a(href="") Contacto
                //-     .btn.btn-xs.full.consulta
                //-         //- a(href="").btn.btn-xs.lineal.sesion Iniciar sesión
                //-         a(href="./consulta.html") Iniciar consulta
                //-         .flecha
