.card.card_noticia.box_shadow
    .img_card
        .box_cinta
            .rrss 
                a(href="")
                    i.icon-share
    .desc_card
        .tag 
            .sub Nacional
        .nombre 
            h5 Nombre del torneo
        .info-datos 
            p Lorem ipsum example text is placed here to show what this component. 
        .more 
            p Ver más 
            i.icon-chevron-right